<% provide :title, t(".home") %>
<div class= "home">
  <section class="carousel-default">
    <div id="carousel-default" class="carousel slide" data-ride="carousel">
      <%= form_tag("#", class: "navbar-form navbar-center", role: "search") do |f| %>
        <div class="input-group col-md-6">
          <%= text_field_tag :search, "", class: "form-control", placeholder: t(".search") %>
            <div class="input-group-btn">
              <%= link_to "#", class:"btn btn-default col-md-4" do %>
                <i class="glyphicon glyphicon-search"></i>
              <% end %>
            </div>
        </div>
      <% end %>
      <div class="carousel-inner" role="listbox">
        <div class="item">
          <%= image_tag Settings.home.img_baner1 %>
          <div class="carousel-caption">
            <h3><%= t ".aic" %></h3>
            <p><%= t ".banner" %></p>
          </div>
        </div>
        <div class="item active">
          <%= image_tag Settings.home.img_baner2 %>
          <div class="carousel-caption">
            <h3><%= t ".aic" %></h3>
            <p><%= t ".banner" %></p>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-default" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="right carousel-control" href="#carousel-default" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
  </section>
  <h3 class="text-center"><%= t".welcome" %></h3><br>
  <div class="container">
    <div class="row">
    <% @pitches.each do |pitch| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <p><%= get_image_pitch pitch %></p>
          <div class="caption">
            <h3><%= pitch.address %></h3>
            <p><%= pitch.description %></p>
            <p>
              <a class="btn btn-default" ><%= pitch.price %><%= t ".vnd" %></a>
              <%= link_to t(".detail"), pitch, class: "btn btn-hinfo" %>
            </p>
            <%= link_to t(".booking"), "#", class: "btn btn-hdanger" %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <%= paginate @pitches, theme: "twitter-bootstrap-3" %>
  </div>
<div>
