<% provide :title, t(".home") %>
<div class= "home">
  <section class="carousel-default">
    <div id="carousel-default" class="carousel slide" data-ride="carousel">
      <%= form_tag("#", class: "navbar-form navbar-center", role: "search") do |f| %>
        <div class="input-group col-md-6">
          <%= text_field_tag :search, "", class: "form-control", placeholder: t(".search") %>
            <div class="input-group-btn">
              <%= link_to "#", class:"btn btn-default col-md-4" do %>
                <i class="glyphicon glyphicon-search"></i>
              <% end %>
            </div>
        </div>
      <% end %>
      <div class="carousel-inner" role="listbox">
        <div class="item">
          <%= image_tag Settings.home.img_baner %>
          <div class="carousel-caption">
            <h3><%= t ".aic" %></h3>
            <p><%= t ".banner" %></p>
          </div>
        </div>
        <div class="item active">
          <%= image_tag Settings.home.img_baner %>
          <div class="carousel-caption">
            <h3><%= t ".aic" %></h3>
            <p><%= t ".banner" %></p>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-default" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="right carousel-control" href="#carousel-default" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
  </section>
  <div class="container-fluid bg-3 text-center">    
    <h3><%= t".welcome" %></h3><br>
    <div class="row">
      <div class="col-sm-3">
        <p><%= t".some_text" %></p>
        <%= image_tag Settings.home.img_container, class: "img-responsive" %>
      </div>
    </div>
  </div>
<div>
