<div class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <div class="tab-pane active">
              <%= get_image_pitch @pitch %>
            </div>
          </div>
        </div>
        <div class="details col-md-6">
          <h3 class="product-title"><%= @pitch.address %></h3>
            <div class="rating">
              <div class="stars">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
              </div>
            <span class="review-no"><%= t ".number_reviews" %></span>
          </div>
            <p class="product-description"><%= @pitch.description %></p>
            <h4 class="price"><%= t ".current_price" %><span><%= @pitch.price %></span><%= t ".vnd" %></h4>
            <p><%= t ".time" %><%= @pitch.start_time.strftime(Settings.time.strftime) %>-<%= @pitch.end_time.strftime(Settings.time.strftime) %></p>
          <div class="action">
            <%= link_to t(".booking"), new_pitch_booking_path(@pitch), class: "add-to-cart btn btn-default" %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <section class="content-item" id="comments">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <% if current_user %>
              <%= render "comments/new" %>
            <% else %>
              <span><%= link_to "login", login_path %><%= t ".to_comment" %></span>
            <% end %>
            <div id="comment_partial">
              <% @comments.each do |comment| %>
                <%= render partial: "comments/comment", locals: {user: find_user_comment(comment), comment: comment} %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class= "paginate">
        <%= paginate @comments, theme: Settings.theme %>
      </div>
    </section>
  </div>
</div>
