<div class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <div class="tab-pane active">
              <%= get_image_pitch @pitch %>
            </div>
          </div>
        </div>
        <div class="details col-md-6">
          <h3 class="product-title"><%= @pitch.address %></h3>
          <div class="rating">
            <div class="stars">
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
            </div>
            <span class="review-no"><%= t ".number_reviews" %></span>
          </div>
          <p class="product-description"><%= @pitch.description %></p>
          <h4 class="price"><%= t ".current_price" %><span><%= @pitch.price %></span><%= t ".vnd" %></h4>
          <p><%= t ".time" %><%= @pitch.start_time.strftime(Settings.time.strftime) %>-<%= @pitch.end_time.strftime(Settings.time.strftime) %></p>
          <div class="action"><button class="add-to-cart btn btn-default" type="button"><%= t ".booking" %></button></div>
        </div>
      </div>
    </div>
  </div>
</div>
