<tr>
  <td><%= pitch.description %></td>
  <td><%= pitch.address %></td>
  <td><%= get_image_pitch pitch %></td>
  <td><%= pitch.start_time %></td>
  <td><%= pitch.end_time %></td>
  <td><%= pitch.price %></td>
  <td><%= t(".owner.pitches.pitch.#{pitch.status}") %></td>
  <th><td><%= link_to t("update"), edit_owner_pitch_path(pitch), class: "btn btn-primary" %></td>
  <td><%= link_to t("delete"), owner_pitch_path(pitch), method: :delete, data: {confirm: t(".sure")}, class: "btn btn-danger" %></td></th>
</tr>
