<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
    <%= link_to t(".logo"), root_path, id: "logo" %>
    </div>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to t(".home"), root_path %></li>
    <li><%= link_to t(".sign_in"), signup_path %></li>
  <% if logged_in? %>
    <li class="dropdown">
    <%= link_to "#", :class => "dropdown-toggle", :data => { :toggle => "dropdown"} do %>
      <%= t ".account" %><b class="caret"></b>
    <% end %>    
      <ul class="dropdown-menu">
        <li><%= link_to t(".profile"), current_user %></li>
        <li class="divider"></li>
        <li><%= link_to t(".settings"), edit_user_path(current_user) %></li>
        <li class="divider"></li>
        <li><%= link_to t(".owner"), owner_pitches_path %></li>
        <li class="divider"></li>
        <li><%= link_to t(".log_out"), logout_path, method: :delete %></li>
      </ul>
    </li>
  <% else %>
    <li><%= link_to t(".log_in"), login_path %></li>
  <% end %>
  </ul>
</nav>
