<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
    <%= link_to t(".logo"), "#", id: "logo" %>
    </div>
    <ul class="nav navbar-nav navbar-right">
    <li><%= link_to t(".sign_in"), "#" %></li>
    <li><%= link_to t(".log_in"), "#" %></li></ul>
  <%= form_tag("#", class: "navbar-form navbar-center", role: "search") do |f| %>
    <div class="input-group col-md-6">
    <%= text_field_tag :search, "", class: "form-control", placeholder: t(".search") %>
    <div class="input-group-btn">
     <%= link_to "#", class:"btn btn-default col-md-4" do %>
     <i class="glyphicon glyphicon-search"></i>
     <% end %>
    </div>
    </div>
  <% end %>
</nav>
